@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* Variables para colores */
:root {
    --primary-text-color: #333;
    --secondary-text-color: #666;
    --card-background: #fdfdfd; 
    --light-border: #eee;
    --page-background: #f5f2ee;
    --font-primary: "Manrope", sans-serif;
    --grey-20: #333333;
    --grey-30: #4d4d4d;
    --grey-50: #808080;
    --peach-85: #E1DBD1;
    --peach-90: #EBE7E0;
    --peach-92: #EEEBE5;
    --peach-96: #F7F6F3;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--peach-92);
    font-family: var(--font-primary);
    line-height: 1.6;
}

.FAQ{
    margin: 0 auto;
    flex: 1;
}

.FAQ-header {
    text-align: center;
    margin-bottom: 60px;
}

.FAQ-header h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--grey-20);
}

body {
    background-color: var(--page-background);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

.reviews-section {
    padding: 60px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* --- Encabezado --- */
.section-header h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0 0 10px 0;
    font-family: "Manrope", sans-serif;

}

.section-header p {
    font-size: 1.1em;
    color: var(--secondary-text-color);
    margin-bottom: 40px;
}

/* --- Resumen y Navegación --- */
.reviews-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto 20px;
}

.total-reviews {
    font-size: 1em;
    color: var(--secondary-text-color);
    font-weight: 500;
    margin-left: -100px;
}

.nav-arrows {
    display: flex;
    gap: 10px;
    margin-right: -100px;
}

.arrow {
    background-color: white;
    border: 1px solid var(--light-border);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--secondary-text-color);
}

.arrow:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.arrow:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* --- Grid y Tarjeta --- */
.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
    margin: 0 auto;
    margin-bottom: 150px;
}

.review-card {
    background-color: var(--card-background);
.benefits-header {
    text-align: center;
    margin-bottom: 50px;
}

.benefits-header h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--grey-20);
}

.benefits-header p {
    font-size: 18px;
    color: var(--grey-30);
}

.FAQ-body {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 30px;
    align-items: start;
}

.Accordion { 
   background-color: var(--peach-96);
    padding: 40px;                     
    border-radius: 8px;               
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 80px;
}

.Accordion-cerrado {
    background-color: var(--peach-92);
    border-radius: 8px;
    padding: 20px;
}

.Accordion-abierto{
   background-color: var(--peach-92); 
   padding: 24px;
   border-radius: 8px;
}

.Accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Accordion-header h3{
    font-size: 18px;
    font-weight: 500;
    color: var(--grey-20);
}

.Accordion-body { margin-top: 15px; }
.Accordion-body p {
    font-size: 16px;
    color: var(--grey-30);
    line-height: 150%;
}

.Contact-card{
    padding: 40px;
    background-color: var(--peach-96);
    max-width: 413px;
    border-radius: 10px;
}

.estrella{
    width: 54px;
    height: 54px;
}

.Contact-body{
    margin-top: 24px;
    margin-bottom: 24px;
}

.Contact-body h3{
    color: var(--grey-20);
    margin-bottom: 6px;
}

.Contact-body p{
    color: var(--grey-30);
}

.footer-section {
    margin-top: 80px;
    padding: 40px 0;
    border-top: 1px solid var(--peach-85);
}

.footer-top {
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-menu{
    display: flex; gap: 24px;
    color: var(--grey-20);
    font-size: 16px;
    font-weight: 500;
}

.redes{
    display: flex; gap: 14px;
}

.contact-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contacts{
    display: flex; 
    align-items: center; 
    gap: 25px;
    padding: 24px 32px; 
    border: 1px solid var(--peach-85);
    border-radius: 8px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 2px; 
    font-size: 16px
}

.contact-icons{
    width: 20px;
    height: auto;
}

.separator{
    height: 24px;
    color: var(--peach-85);
}

.copyright{
    text-align: center;
    font-size: 14px;
    color: var(--grey-50);

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.card {
    background-color: #f7f6f3;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-size: smaller;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.client-name {
    font-size: 1.25em;
    font-weight: 700;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

.client-website {
    color: var(--secondary-text-color);
    font-size: 0.9em;
    margin: 5px 0 0 0;
    font-family: "Manrope", sans-serif;
    font-style: medium;
}

/* --- Íconos Sociales (Contenedor Circular) --- */
.social-links {
    display: flex;
    gap: 8px;
}

.social-icon {
    width: 28px;
    height: 28px;
    border-radius: 8%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-border);
    cursor: pointer;
    transition: all 0.2s;
}

.social-icon:hover {
    background-color: #f0f0f0;
    border-color: var(--accent-color);
}

/* --- Íconos Sociales (Imagen SVG) --- */
.social-icon .social-logo {
    display: block;
    width: 60%; /* Ajusta el tamaño del SVG dentro del círculo */
    height: 60%;
    object-fit: contain;
}

/* --- Rating y Texto --- */
.rating {
    color: darkorchid;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.review-text {
    margin: 0;
    color: var(--secondary-text-color);
    line-height: 1.6;
    font-family: "Manrope", sans-serif;
}

    
}
.narrow {
    grid-column: span 2;
}